### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [132]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()
data_count=  purchase_data.nunique()["SN"]

## Player Count

* Display the total number of players

In [133]:
players = len(purchase_data["SN"].unique())
players

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [183]:
unique_items = len(purchase_data["Item ID"].unique())
average_price =(purchase_data["Price"].mean())
number_pur = len(purchase_data)
total_rev = purchase_data["Price"].sum()

summary_df = pd.DataFrame( [{"Number of Unique Items": unique_items, "Average Price": average_price, "Number of Purchases": number_pur, "Total Revenue": total_rev}
               ])
summary_df["Average Price"] = summary_df["Average Price"].map("${:.2f}".format)
summary_df["Total Revenue"] = summary_df["Total Revenue"].map("${:.2f}".format)
summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [185]:
gender_count = purchase_data.groupby("Gender").nunique()["SN"]
gender_total = gender_count.sum()
gender_percentage = (gender_count/gender_total) * 100
gendercount_summary = pd.DataFrame({"TotalCount": gender_count,
                                    "Percentage": gender_percentage
                              })

gendercount_summary["Percentage"] = gendercount_summary["Percentage"].map("{:.2f}%".format)
gendercount_summary

                       TotalCount Percentage
Gender
Female                         81     14.06%
Male                          484     84.03%
Other / Non-Disclosed          11      1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [188]:
gender_analysis = purchase_data.groupby("Gender")
gender_total = gender_analysis["SN"].count()
mean_gen = gender_analysis["Price"].mean()
tot_purchase = gender_analysis["Price"].sum()
gender_summary = pd.DataFrame({"Purchase Count": gender_total,
                                    "Average Purchase Price": mean_gen,
                              "Total Purchase Value": tot_purchase})
gender_summary["Average Purchase Price"] = gender_summary["Average Purchase Price"].map("${:.2f}".format)
gender_summary["Total Purchase Value"] = gender_summary["Total Purchase Value"].map("${:.2f}".format)
gender_summary

,Purchase Count,Average Purchase Price,Total Purchase Value
Gender,,,
Female,113,$3.20,$361.94
Male,652,$3.02,$1967.64
Other / Non-Disclosed,15,$3.35,$50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [189]:
age_group = ["<10","0-14","15-19", "20-24", "25-29", "30-34","35-39","40+"]
bins = [0, 9, 14, 19 ,24, 29, 34, 39, 60]

purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=age_group)
agp = purchase_data.groupby("Age Group")
age_count=  purchase_data.groupby("Age Group").nunique()["SN"]
age_per =(age_count/ purchase_data["SN"].count()) * 100
age_summary = pd.DataFrame({"TotalCount": age_count,
                                    "Percentage": age_per
                              })
age_summary["Percentage"] = age_summary["Percentage"].map("{:.2f}%".format)
age_summary

           TotalCount Percentage
Age Group
<10                17      2.18%
0-14               22      2.82%
15-19             107     13.72%
20-24             258     33.08%
25-29              77      9.87%
30-34              52      6.67%
35-39              31      3.97%
40+                12      1.54%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [190]:
purchase_cnt = agp["SN"].count()
app = agp["Price"].mean()
tpp = agp["Price"].sum()
age_analysis = pd.DataFrame({"Purchase Count": purchase_cnt,
                                    "Average Purchase Price": app,
                              "Total Purchase Value": tpp})
age_analysis["Average Purchase Price"] = age_analysis["Average Purchase Price"].map("${:.2f}".format)
age_analysis["Total Purchase Value"] = age_analysis["Total Purchase Value"].map("${:.2f}".format)
age_analysis

           Purchase Count Average Purchase Price Total Purchase Value
Age Group
<10                    23                  $3.35               $77.13
0-14                   28                  $2.96               $82.78
15-19                 136                  $3.04              $412.89
20-24                 365                  $3.05             $1114.06
25-29                 101                  $2.90              $293.00
30-34                  73                  $2.93              $214.00
35-39                  41                  $3.60              $147.67
40+                    13                  $2.94               $38.24

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [191]:
top_spenders = purchase_data.groupby("SN")
purchase_count_ts = top_spenders["SN"].count()
mean_pur = top_spenders["Price"].mean()
tot_pur_ts = top_spenders["Price"].sum()
ts_analysis =  pd.DataFrame({"Purchase Count": purchase_count_ts,
                                    "Average Purchase Price": mean_pur,
                              "Total Purchase Value": tot_pur_ts})
ts_analysis["Average Purchase Price"] = ts_analysis["Average Purchase Price"].map("${:.2f}".format)
ts_analysis["Total Purchase Value"] = ts_analysis["Total Purchase Value"].map("${:.2f}".format)
ascending_ts = ts_analysis.sort_values("Purchase Count", ascending=False)
ascending_ts.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Iral74                    4                  $3.40               $13.62
Idastidru52               4                  $3.86               $15.45
Asur53                    3                  $2.48                $7.44
Inguron55                 3                  $3.70               $11.11

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [193]:
most_pop = purchase_data.groupby(["Item ID", "Item Name"])
pur_cnt_mp = most_pop["Price"].count()
item_price = most_pop["Price"].mean()
tot_prc_mp = most_pop["Price"].sum()
mp_analysis = pd.DataFrame({"Purchase Count": pur_cnt_mp,
                                    "Average Purchase Price": item_price,
                              "Total Purchase Value": tot_prc_mp})
mp_analysis["Average Purchase Price"] = mp_analysis["Average Purchase Price"].map("${:.2f}".format)
mp_analysis["Total Purchase Value"] = mp_analysis["Total Purchase Value"].map("${:.2f}".format)
mp_ascending = mp_analysis.sort_values("Purchase Count", ascending=False)
mp_ascending.head()

,,Purchase Count,Average Purchase Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [194]:
mp_ascending = mp_analysis.sort_values("Purchase Count", ascending=True)

mp_ascending.head()

,,Purchase Count,Average Purchase Price,Total Purchase Value
Item ID,Item Name,,,
51,Endbringer,1,$4.66,$4.66
27,"Riddle, Tribute of Ended Dreams",1,$3.30,$3.30
104,Gladiator's Glaive,1,$1.93,$1.93
118,"Ghost Reaver, Longsword of Magic",1,$2.17,$2.17
42,The Decapitator,1,$1.75,$1.75