### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [132]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()
data_count=  purchase_data.nunique()["SN"]

## Player Count

* Display the total number of players

In [133]:
players = len(purchase_data["SN"].unique())
players

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [176]:
unique_items = len(purchase_data["Item ID"].unique())
average_price =purchase_data["Price"].mean()
number_pur = len(purchase_data)
total_rev = purchase_data["Price"].sum()
summary_df = pd.DataFrame( [{"Number of Unique Items": unique_items, "Average Price": average_price, "Number of Purchases": number_pur, "Total Revenue": total_rev}
               ])
summary_df

AttributeError: 'float' object has no attribute 'map'

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [135]:
gender_count = purchase_data.groupby("Gender").nunique()["SN"]
gender_total = gender_count.sum()
gender_percentage = (gender_count/gender_total) * 100
gendercount_summary = pd.DataFrame({"TotalCount": gender_count,
                                    "Percentage": gender_percentage
                              })

gendercount_summary

                       TotalCount  Percentage
Gender
Female                         81   14.062500
Male                          484   84.027778
Other / Non-Disclosed          11    1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [136]:
gender_analysis = purchase_data.groupby("Gender")
gender_total = gender_analysis["SN"].count()
mean_gen = gender_analysis["Price"].mean()
tot_purchase = gender_analysis["Price"].sum()
gender_summary = pd.DataFrame({"Purchase Count": gender_total,
                                    "Average Purchase Price": mean_gen,
                              "Total Purchase Value": tot_purchase})
gender_summary

,Purchase Count,Average Purchase Price,Total Purchase Value
Gender,,,
Female,113,3.203009,361.94
Male,652,3.017853,1967.64
Other / Non-Disclosed,15,3.346000,50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [168]:
age_group = ["<10","0-14","15-19", "20-24", "25-29", "30-34","35-39","40+"]
bins = [0, 9, 14, 19 ,24, 29, 34, 39, 60]

purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=age_group)
agp = purchase_data.groupby("Age Group")
age_count=  purchase_data.groupby("Age Group").nunique()["SN"]
age_per =(age_count/ purchase_data["SN"].count()) * 100
age_summary = pd.DataFrame({"TotalCount": age_count,
                                    "Percentage": age_per
                              })
age_summary

           TotalCount  Percentage
Age Group
<10                17    2.179487
0-14               22    2.820513
15-19             107   13.717949
20-24             258   33.076923
25-29              77    9.871795
30-34              52    6.666667
35-39              31    3.974359
40+                12    1.538462

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [169]:
purchase_cnt = agp["SN"].count()
app = agp["Price"].mean()
tpp = agp["Price"].sum()
age_analysis = pd.DataFrame({"Purchase Count": purchase_cnt,
                                    "Average Purchase Price": app,
                              "Total Purchase Value": tpp})
age_analysis

           Purchase Count  Average Purchase Price  Total Purchase Value
Age Group
<10                    23                3.353478                 77.13
0-14                   28                2.956429                 82.78
15-19                 136                3.035956                412.89
20-24                 365                3.052219               1114.06
25-29                 101                2.900990                293.00
30-34                  73                2.931507                214.00
35-39                  41                3.601707                147.67
40+                    13                2.941538                 38.24

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [155]:
top_spenders = purchase_data.groupby("SN")
purchase_count_ts = top_spenders["SN"].count()
mean_pur = top_spenders["Price"].mean()
tot_pur_ts = top_spenders["Price"].sum()
ts_analysis =  pd.DataFrame({"Purchase Count": purchase_count_ts,
                                    "Average Purchase Price": mean_pur,
                              "Total Purchase Value": tot_pur_ts})
ascending_ts = ts_analysis.sort_values("Purchase Count", ascending=False)
ascending_ts.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Iral74                    4                3.405000                 13.62
Idastidru52               4                3.862500                 15.45
Asur53                    3                2.480000                  7.44
Inguron55                 3                3.703333                 11.11

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [172]:
most_pop = purchase_data.groupby(["Item ID", "Item Name"])
pur_cnt_mp = most_pop["Price"].count()
item_price = most_pop["Price"].mean()
tot_prc_mp = most_pop["Price"].sum()
mp_analysis = pd.DataFrame({"Purchase Count": pur_cnt_mp,
                                    "Average Purchase Price": item_price,
                              "Total Purchase Value": tot_prc_mp})
mp_ascending = mp_analysis.sort_values("Purchase Count", ascending=False)
mp_ascending.head()

,,Purchase Count,Average Purchase Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [175]:
mp_ascending = mp_analysis.sort_values("Purchase Count", ascending=True)
mp_ascending.head()

,,Purchase Count,Average Purchase Price,Total Purchase Value
Item ID,Item Name,,,
51,Endbringer,1,4.66,4.66
27,"Riddle, Tribute of Ended Dreams",1,3.30,3.30
104,Gladiator's Glaive,1,1.93,1.93
118,"Ghost Reaver, Longsword of Magic",1,2.17,2.17
42,The Decapitator,1,1.75,1.75